/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div.image {
  border: solid 1px #CCC;
  padding: 10px 10px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

div.image_placeholder {
  width: 200px;
  height: 150px;
  background-color: #B6B6B6;
}

.name {
  padding-top: 5px;
  text-align: center;
  font-weight: bold;
}

.actions {
  font-size: 10px;
  text-align: center;
  color: #777;
}

div.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

div.border {
  border: 1px solid #CCC;
}

img.show-image {
  width: 650px;
  height: 650px;
}